/* line 1, ../sass/credentials.scss */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* line 5, ../sass/credentials.scss */
body {
  width: 280px;
  text-align: center;
  margin: 0;
  padding: 5px;
  background: #efefef;
}

/* line 13, ../sass/credentials.scss */
a {
  text-decoration: none;
}

/* line 17, ../sass/credentials.scss */
li a {
  text-decoration: underline;
  color: #0288d1;
}

/* line 22, ../sass/credentials.scss */
code {
  white-space: pre-wrap;
  word-break: break-all;
}

/* line 27, ../sass/credentials.scss */
h3 {
  background: url("../img/icon-cake.png") no-repeat;
  background-size: 40px;
  line-height: 40px;
  margin: 0 0 10px 0;
}

/* line 34, ../sass/credentials.scss */
.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}

/* line 39, ../sass/credentials.scss */
#quickstart-sign-in-status {
  font-weight: bold;
}

/* line 43, ../sass/credentials.scss */
#user {
  text-align: center;
}

/* line 47, ../sass/credentials.scss */
#user__img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

/* line 56, ../sass/credentials.scss */
#user__img img {
  display: block;
  width: 100%;
}

/* line 61, ../sass/credentials.scss */
#user__name {
  font-weight: 600;
}

/* line 65, ../sass/credentials.scss */
#quickstart-account-details {
  display: none;
}
