html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  width: 280px;
  text-align: center;
  margin: 0;
  padding: 5px;
  background: #efefef;
}

a {
  text-decoration: none;
}

li a {
  text-decoration: underline;
  color: #0288d1;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
}

h3 {
  background: url('../img/icon-cake.png') no-repeat;
  background-size: 40px;
  line-height: 40px;
  margin: 0 0 10px 0;
}

.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}

#quickstart-sign-in-status {
  font-weight: bold;
}

#user {
text-align: center;
}

#user__img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

#user__img img {
  display: block;
  width: 100%;
}

#user__name {
font-weight: 600;
}

#quickstart-account-details {
  display: none;
}