@import "base";

body {
	background: #ffffff;
}

.main-container {
	@include clearfix;
}

pre {
	font-family: 'Space Mono', monospace;
}

.top-menu {
    position: absolute;
    display: table;
    width: 100%;
	height: 3em;

	background: #323232;
	color: #ffffff;

    z-index: 1;

    .user-settings {
    	display: table-cell;
    	width: 3em;
    	vertical-align: middle;
    	text-align: center;
    	color: #999999;

    	cursor: pointer;

    	&:hover {
    		color: #ffffff;
    	}
    }

    .user-account {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
    }
}

.chat__aside {
	position: relative;
	box-sizing: border-box;
	float: right;
	padding-top: 3em;
	height: 100vh;
	width: 12em;
    border-right: solid 1px #323232;
    margin-right: -1px;

	ul {
		margin: 0;
		padding: 1em;
	}
}

.chat-container {
	position: relative;
	box-sizing: border-box;
	float: right;
	padding-top: 3em;
	height: 100vh;
	width: 24em;
	//margin: auto;
	// padding: 0 1em;
}

.messages-container {
    box-sizing: border-box;
	padding: 1em 1em 0 1em;
	margin: 0;

    border-right: solid 1px #323232;

	overflow-x: hidden;
	overflow-y: scroll;
}

.message {
	position: relative;
    margin: 1em 5em 1em 0;
    padding: 1em;
    // padding-bottom: 0.5em;
    background: #ececec;

    @include border-radius(0.5em);

    dl, ol, ul {
    	margin: 0;
    }

    pre {
    	margin: 0;
    }
}

.message--joined-bottom {
	margin-bottom: 0;
	padding-bottom: 0.5em;
	@include border-bottom-left-radius(0);
	@include border-bottom-right-radius(0);
}

.message--joined-top {
	margin-top: 0;
	padding-top: 0.5em;
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);

	.message__info {
		display: none;
	}
}

.message--self {
    margin-left: 5em;
    margin-right: 0;
    background: #323232;
    color: #ffffff;

    &:hover {
        background: #545454;	
    }

    .message__content a {
    	color: #ffd500;

		&:visited {
			color: #ffd500;
		}

		&:hover {
			color: #ffd500;
		}
    }
}

.message__content {
	padding-bottom: 0;
    word-wrap: break-word;

    a {
		color: #004cff;
		text-decoration: none;
		font-family: 'Space Mono', monospace;
	    font-style: italic;
	    font-size: 0.9em;

		&:visited {
			color: #004cff;
		}

		&:hover {
			color: #004cff;
			text-decoration: underline;
		}

		&:before {
			font-family: "entypo";
			font-style: normal;
			font-weight: normal;
			speak: none;

			text-decoration: inherit;
			width: 1em;
			margin-right: .2em;
			text-align: center;

			font-variant: normal;
			text-transform: none;
			 
			line-height: 1em;
			margin-left: .2em;

			content: '\e8c3';
		}
    }
}

.message__info {
	height: 2em;
	padding-left: 2.5em;
	padding-bottom: 1em;
}

.message__author {
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.4em;
	font-size: 0.7em;
}

.message__author-img {
    float: left;
    margin-left: -2.5em;
	width: 2em;
	height: 2em;

	border-radius: 2em;
}

.message__timestamp {
	display: block;
	color: #999;
	font-size: 0.7em;
}

.message-textarea {
    display: block;
	position: absolute;
    box-sizing: border-box;
    bottom: 0;
	width: 100%;

    color: #ffffff;
    background: #323232;
	border-color: #323232;
	font-size: 0.9em;
	padding: 0.9em;

	resize: none;
}

.message__delete-button {
	position: absolute;
	right: 0;
	bottom: 0.25em;
	color: #323232;
	cursor: pointer;

	&:hover {
		color: #ffffff;
	}
}

.message__day-separator {
	text-align: center;
	color: #999;
	font-size: 0.7em;
}